*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(21,34,107,1) 100%);
    font-family: 'Raleway', sans-serif;
    color: white;
}

.profile{
    text-align: center;
}

.avatar{
    width: 80px;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
    margin-top: 10px;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    font-weight: 100;
    margin-top: 2px;
    margin-bottom: 0px;
}

h2{
    font-size: 16px;
    font-weight: 0;
    margin-top: 0px;
}



.icones{
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    margin-top: 18px;
}

.links{
    text-decoration: none;
}

.links-list{
  list-style: none;
  margin: 20px 13px;
  margin-top: 25px;
}

.links-list li a{
    color: rgb(54,77,204);
    background-color: white;
    padding: 20px;
    display: block;
    margin-bottom: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    text-decoration: none;
}

.links-list2{
    list-style: none;
    margin: 20px 13px;
    margin-top: 25px;
}

.links-list2 li a{
    color: rgb(54,77,204);
    background-color: rgb(54 241 104);
    padding: 20px;
    display: block;
    margin-bottom: 8px;
    border-radius: 10px;
    text-decoration: none;
}

.links-list li a span{
    display: block;
    margin-top: 10px;
    color: grey;
}

.links-list2 li a span{
    display: block;
    margin-top: 10px;
    color: grey;
}